body {
  background-color: hsl(212, 45%, 89%);
}

.QR-box {
  margin: 151px auto;
  border-radius: 20px;
  width: 320px;
  background: #ffffff;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 15px 0;
}
img {
  width: 288px;
  border-radius: 10px;
}

.QR-text {
  margin: 0 auto;
  width: 288px;
}

h3 {
  font-weight: 700;
  line-height: 28px;
  font-size: 22px;
  font-family: "Rubik", sans-serif;
}
p {
  color: #7d889e;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 375px) {
}
